@import '@angular/material/prebuilt-themes/indigo-pink.css';



html, body { height: 100%; 


}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  margin: 0;
   background-color: #e3f2fd;
  
}

mat-card {
  margin: 16px;
}

h2 {
  color: #1976d2; /* Material blue 700 */
}

.liste-card {
  padding: 24px;
  border-radius: 12px;
}

.liste-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.liste-header h2 {
  margin: 0;
  font-weight: 600;
}

.sub-title {
  margin: 4px 0 0 0;
  font-size: 13px;
  color: #6b7280;
}

table {
  border-radius: 8px;
  overflow: hidden;
}

.mat-mdc-header-row {
  background-color: #f3f4f6;
  font-weight: 600;
}

.mat-mdc-row:hover {
  background-color: #f9fafb;
}

/* styles.scss - global dosyaya ekle */

.detay-satir {
  height: 0 !important;
  
  td, td.mat-cell, td.mat-mdc-cell {
    padding: 0 !important;
    border-bottom: none !important;
    border-bottom-width: 0 !important;
  }
  

}

.acik-satir {
  td, td.mat-cell, td.mat-mdc-cell {
    border-bottom: none !important;
  }
}

tr.detay-satir td {
  padding: 0 !important;
  border: none !important;
  height: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
}